<div class="container" *ngIf="users.data.length > 0" style="margin: 1% auto">
    <mat-table class="mat-elevation-z15" #table [dataSource]="users">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Identyfikator</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.username}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.surname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Adres</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city}} {{elementpostcode}}
                <br>{{element.street}} {{element.streetNumber}}/{{element.localNumber}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orders">
            <mat-header-cell *matHeaderCellDef>Zamówienia</mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="selectUserId(element.id)" [routerLink]="['../user-orders']">Kliknij aby zobaczyć</button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>