.product-panel {
    margin-top: 5px;
}

.mat-divider {
    width: 100%;
}

.info-container {
    margin-bottom: 10px;
}

.product-button {
    width: 200px;
}

.product-button-text {
    float: center;
}

.product-button-icon {
    float: right;
    margin-top: 6px;
}

.panel-description {
    margin-right: 10px;
}

.container {
    width: 500px;
}